body {
    /* background-color: rgba(166, 208, 154, .5); */
    background-color: #E5D8BF;
    font-family: 'Happy Monkey', cursive;
}

.parent {
    display: flex;
}

.heading {
    display: flex;
    justify-content: center;
}

h1, h4 {
    font-size: 60px;
    margin: 3% 0;
}

.child {
    flex: 1;
    margin: 3px;
    height: 90vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

h3, ul {
    background-color: rgba(255, 255, 255, .5);
    color: black;
    font-size: 0;
}

h3 {
    position: absolute;
    top: 10%;
    left: 7%;
}

ul {
    position: absolute;
    top: 20%;
    left: 7%;
}

li {
    line-height: 1.3;
}

.active {
    flex: 4;
}

.active h3 {
    font-size: 40px;
}

.active ul {
    font-size: 23px;
    transition: all 0.5s linear;
}

label {
    font-size: 40px;
    padding: 10px;
}

button {
    width: 100%;
    font: 30px 'Happy Monkey', cursive;
    background-color: #FFDC34;
}



.hair {
    background-image: url('./photo/hair-2.jpg');
}

.makeup {
    background-image: url('./photo/makeup.jpg');
}

.nails {
    background-image: url('./photo/nails-2.jpg');
}

.face {
    background-image: url('./photo/face.jpg');
}

.body {
    background-image: url('./photo/body.jpg');
}

